Exam_Schema.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="Online_Examination_System">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="Student">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Name" type="xsd:string" />
            <xsd:element name="Register_No" type="xsd:integer"/>
            <xsd:element name="Marks" type="xsd:integer"/>
            <xsd:element name="Subject" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>
</xsd:schema> 